# Build Artifacts
release/
dist/
build/

# Packaged files
*.zip
*.dmg
*.exe
*.pkg

# Virtual Environments
venv/
xtts_env/

# Python
__pycache__/
*.pyc

# Media Outputs
outputs/
uploads/

# macOS
.DS_Store

# IDE
.vscode/
.idea/