streamlit==1.58.0

faster-whisper==1.2.1

transformers==4.46.2
sentencepiece
sacremoses

torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1

piper==0.15.1

TTS==0.22.0

ffmpeg-python

numpy
scipy
soundfile

protobuf
huggingface_hub
accelerate